body {
    font-family: "arial", sans-serif;
    background: lightgoldenrodyellow;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    border: 3px dashed rosybrown;
    padding: 10px;
}

input {
    padding: 5px 10px;
    font-size: 16px;
}

#input-author {
    width: 20%;
}

#input-message {
    width: 50%;
}

#btn {
    padding: 8px 20px;
}
.messages {
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #550000;
    padding: 5px 0;
}
